<div class="side-nav-stores-wrapper">
  <div class="caption">Popular stores</div>
  <div class="stores-wrapper">
    <a href="" class="store-item-wrapper">
      <img class="store-image" src="https://demiart.ru/forum/uploads14/post-2313257-1385443356.jpg" alt="webuyanyphone">
      <div class="store">
        <div class="store-caption gl-pink-link">Webuyanyphone</div>
        <div class="store-value gl-gray-color">23 coupons</div>
      </div>
    </a>
    <a href="" class="store-item-wrapper">
      <img class="store-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/21cddf35284815.56f10fda16c0d.jpg" alt="webuyanyphone">
      <div class="store">
        <div class="store-caption gl-pink-link">Sprint</div>
        <div class="store-value gl-gray-color">15 coupons</div>
      </div>
    </a>
    <a href="" class="store-item-wrapper">
      <img class="store-image" src="https://commtools.de/commtools2/wp-content/uploads/2017/10/Louis-Restaurant-Logo-Design-SP-COMMTOOLS_01.png" alt="webuyanyphone">
      <div class="store">
        <div class="store-caption gl-pink-link">Deala</div>
        <div class="store-value gl-gray-color">67 coupons</div>
      </div>
    </a>
    <a href="" class="store-item-wrapper">
      <img class="store-image" src="https://cdn.freelance.ru/img/portfolio/pics/00/26/ED/2551230.jpg?mt=0018a1be" alt="webuyanyphone">
      <div class="store">
        <div class="store-caption gl-pink-link">T-Mobile</div>
        <div class="store-value gl-gray-color">12 coupons</div>
      </div>
    </a>
  </div>
</div>
