@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.side-nav-stores-wrapper {
  padding: 16px;
  background-color: $grey-background-block;
  border-radius: 8px;
}

.caption {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 8px;
}

.stores-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;

  @include for-md-down {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  @include for-sm-down {
    grid-template-columns: 1fr 1fr;
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}

.store-item-wrapper {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.store-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 10px;
}

.store {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
