@import 'src/app/common/styles/sizes';

.grid-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include for-sm-down {
    grid-template-columns: 1fr 1fr;
  }
}

.list-wrapper {
  &:nth-child(3), &:nth-child(6) {
    grid-row-start: 1;
    grid-row-end: 3;

    @include for-sm-down {
      order: 1;
    }
  }

  &:nth-child(6) {
    @include for-sm-down {
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }
}

.caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.item {
  font-size: 14px;
  line-height: 24px;
}
