<div class="related-categories-wrapper">
  <h2 class="subtitle">Related categories </h2>
  <div class="grid-wrapper">
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">1 Clothing</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Pets</a>
      </li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">2 Clothing</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Pets</a>
      </li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">3 Fitness</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Pets</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Clothing</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Automotive</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fitness</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Clothing</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">4 Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Pets</a>
      </li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">5 Pets</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Clothing</a>
      </li>
    </ul>
    <ul class="list-wrapper">
      <li>
        <a href="" class="caption gl-purple-link">6 Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Health</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fashion</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Pets</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Clothing</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Automotive</a>
      </li>
      <li>
        <a href="" class="item gl-gray-color gl-purple-link">Fitness</a>
      </li>
    </ul>
  </div>
</div>

