<footer class="footer">
  <div class="section-top-wrapper">
    <div class="gl-page-content">
      <div class="section-top">
        <div class="section-top-block">
          <a href="" class="gl-logo-wrapper gl-sm-show">
            <img class="gl-logo" src="assets/icon/footer/logo.svg" alt="logo-icon">
          </a>
          <div class="menu-items-wrapper gl-sm-hide">
            <a href="" class="menu-item gl-purple-link">Categories</a>
            <a href="" class="menu-item gl-purple-link">Stores</a>
            <a href="" class="menu-item gl-purple-link">Submit coupons</a>
            <a href="" class="menu-item gl-purple-link">About us</a>
          </div>
        </div>
        <div class="section-top-block">
          <button class="gl-burger-btn-wrapper mod-footer-burger gl-sm-show">
            <span class="gl-burger mod-footer-burger"></span>
          </button>
          <app-search [thisFooter]="true"></app-search>
        </div>
      </div>
    </div>
  </div>

  <div class="section-bottom-wrapper">
    <div class="gl-page-content">
      <div class="section-bottom">
        <a href="" class="gl-logo-wrapper logo-margin-bottom gl-sm-hide">
          <img class="gl-logo" src="assets/icon/footer/logo.svg" alt="logo-icon">
        </a>

        <div class="policy-description">
          2020 Deala LLC. All rights reserved. Deala, the Deala logo, the tag design, Deala, and Deala.com are
          trademarks of Best Buy and its affiliated companies.
          <span class="gl-nowrap">info@deala.com</span>
        </div>

        <div class="social-wrapper">
          <a href="" class="social-icon-wrapper">
            <div class="social-icon facebook-icon"></div>
          </a>
          <a href="" class="social-icon-wrapper">
            <div class="social-icon twitter-icon"></div>
          </a>
          <a href="" class="social-icon-wrapper">
            <div class="social-icon inst-icon"></div>
          </a>
          <a href="" class="social-icon-wrapper">
            <div class="social-icon m-icon"></div>
          </a>
          <a href="" class="social-icon-wrapper">
            <div class="social-icon in-icon"></div>
          </a>
        </div>

        <div class="company-document">
          <a class="document-item gl-purple-link" href="">Terms of Service</a>
          <a class="document-item gl-purple-link" href="">Privacy Policy</a>
          <a class="document-item gl-purple-link" href="">Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</footer>

