@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.footer {
  background-color: $grey-background-block;
}

.section-top {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-top-block {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 26px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;

  &:last-child {
    margin-right: 0;
  }
}

.section-bottom-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section-bottom {
  padding: 34px 0;

  @include for-sm-down {
    padding: 40px 0 16px 0;
  }
}

.logo-margin-bottom {
  margin-bottom: 20px;
}

.policy-description {
  max-width: 456px;
  font-size: 12px;
  line-height: 14px;
  color: #616161;
  margin-bottom: 36px;

  @include for-sm-down {
    margin-bottom: 20px;
  }
}

.social-wrapper {
  display: flex;
  margin-bottom: 52px;
  margin-left: -8px;

  @include for-sm-down {
    margin-bottom: 20px;
  }
}

.social-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  &:hover {
    .social-icon {
      &.facebook-icon {
        background-image: url("../../../assets/icon/social/facebook-hover.svg");
      }

      &.twitter-icon {
        background-image: url("../../../assets/icon/social/twitter-hover.svg");
      }

      &.inst-icon {
        background-image: url("../../../assets/icon/social/inst-hover.svg");
      }

      &.m-icon {
        background-image: url("../../../assets/icon/social/m-hover.svg");
      }

      &.in-icon {
        background-image: url("../../../assets/icon/social/in-hover.svg");
      }
    }
  }
}

.social-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.facebook-icon {
    background-image: url("../../../assets/icon/social/facebook.svg");
  }

  &.twitter-icon {
    background-image: url("../../../assets/icon/social/twitter.svg");
  }

  &.inst-icon {
    background-image: url("../../../assets/icon/social/inst.svg");
  }

  &.m-icon {
    background-image: url("../../../assets/icon/social/m.svg");
  }

  &.in-icon {
    background-image: url("../../../assets/icon/social/in.svg");
  }
}

.document-item {
  font-size: 12px;
  line-height: 14px;
  color: #616161;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}
