@import 'sizes';
@import 'colors';

.gl-main-btm {
  height: 40px;
  padding: 14px 34px;
  background-color: $purple-color;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;

  &.mod-pink {
    background-color: $pink-color;
  }

  &.disabled-coupon {
    background-color: #DCDCDC;
    pointer-events: none;
  }
}

.gl-burger-btn-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  position: relative;

  .gl-burger, &:before, &:after {
    background-color: #FFFFFF;
    width: 20px;
    height: 2px;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    left: 5px;
  }

  &:before {
    top: 5px;
  }

  &:after {
    bottom: 5px;
  }

  .gl-burger {
    &.mod-footer-burger {
      background-color: #000000;
    }
  }

  &.mod-footer-burger {
    &:before, &:after {
      background-color: #000000;
    }
  }
}

.gl-back-arrow-btn {
  position: absolute;
  background-image: url('/assets/icon/global/back-arrow-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 17px;
  top: 20px;
  left: 20px;

  @include for-lg-down {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 16px;
  }
}
