@import 'consts';
@import 'colors';
@import 'sizes';

.gl-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gl-layout-header, .gl-layout-footer {
  flex: 0 0 auto;
}

.gl-layout-content {
  flex: 1 1 100%;
  position: relative;
}

.gl-page-content {
  padding-left: $page-content-padding-fl;
  padding-right: $page-content-padding-fl;
  max-width: 1440px;
  margin: 0 auto;

  @include for-hg-down {
    padding-left: $page-content-padding-hg-down;
    padding-right: $page-content-padding-hg-down;
  }

  @include for-lg-down {
    padding-left: $page-content-padding-lg-down;
    padding-right: $page-content-padding-lg-down;
  }

  @include for-bg-down {
    padding-left: $page-content-padding-bg-down;
    padding-right: $page-content-padding-bg-down;
  }

  @include for-md-down {
    padding-left: $page-content-padding-md-down;
    padding-right: $page-content-padding-md-down;
  }

  @include for-sm-down {
    padding-left: $page-content-padding-sm-down;
    padding-right: $page-content-padding-sm-down;
  }
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.02em;

  @include for-xxs-down {
    font-size: 34px;
  }
}

h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 16px;
}

.gl-logo-wrapper {
  display: inline-block;

  .gl-logo {
    height: 30px;
  }
}

.gl-purple-link {
  &:hover {
    text-decoration: none !important;
    color: $purple-color !important;
    opacity: 1;
  }
}

.gl-pink-link {
  color: $purple-color !important;

  &:hover {
    text-decoration: none !important;
    color: $pink-color !important;
    opacity: 1;
  }
}

.gl-nowrap {
  white-space: nowrap;
}

.gl-bold-font {
  font-weight: bold;
}

.gl-gray-color {
  color: #000000;
  opacity: .6;
}
