@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.header {
  background-color: #242424;
  height: 50px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  height: 100%;

  @include for-sm-down() {
    grid-template-columns: 1fr 1fr;
  }
}

.header-block {
  display: flex;
  align-items: center;

  &.mod-last-block {
    justify-content: flex-end;
  }
}

.menu-item-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 14px;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;

  &:hover {
    text-decoration: none;
    border-bottom: 3px $yellow-color solid;
  }

  &.active {
    border-bottom: 3px $yellow-color solid;
  }
}

.menu-item {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}
