<header class="header">
  <div class="grid-wrapper gl-page-content">
    <div class="header-block">
      <a href="" class="gl-logo-wrapper">
        <img class="gl-logo" src="assets/icon/header/logo.svg" alt="logo">
      </a>
    </div>

    <div class="header-block gl-sm-hide">
      <a href="" class="menu-item-wrapper">
        <div class="menu-item">Categories</div>
      </a>
      <a href="" class="menu-item-wrapper active">
        <div class="menu-item">Stores</div>
      </a>
      <a href="" class="menu-item-wrapper">
        <div class="menu-item">Submit coupons</div>
      </a>
      <a href="" class="menu-item-wrapper">
        <div class="menu-item">About us</div>
      </a>
    </div>

    <div class="header-block mod-last-block">
      <button class="gl-burger-btn-wrapper gl-sm-show">
        <span class="gl-burger"></span>
      </button>
      <app-search></app-search>
    </div>
  </div>
</header>
