<div class="similar-stores-wrapper">
  <h2 class="subtitle">Similar stores</h2>
  <ul class="grid-wrapper">
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">The Look Fashion</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Trendy Her coupons</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Webuyanyphone</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Webuyanyphone</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Shaggy Swag Be</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">AT&T</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Queen Of Decals</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Deala</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">You Boutique</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">T-Mobile</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Trendy Her</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">AT&T</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Queen Of Decals Trendy</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Sprint</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">Boutique coupons</a>
    </li>
    <li>
      <a href="" class="item gl-gray-color gl-purple-link">T-Mobile</a>
    </li>
  </ul>
</div>
