@import 'src/app/common/styles/sizes';

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 20px;

  @include for-sm-down {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.02em;
}
