<div class="coupon-wrapper" [class.popular-coupon]="isPopularCoupon" [class.disabled-coupon]="disabledCoupon">
  <div class="sticker-wrapper">
    <div class="sticker-image" [class.popular-coupon]="isPopularCoupon" [class.disabled-coupon]="disabledCoupon">
      <div class="sticker-text" [class.popular-coupon]="isPopularCoupon" [class.disabled-coupon]="disabledCoupon">
        20%
      </div>
    </div>
  </div>
  <div class="coupon-content-wrapper">
    <div class="left-block-wrapper">
      <div class="coupon-comment-name">Last used 1 day ago</div>
      <div class="coupon-name" [class.disabled-coupon]="disabledCoupon">Save 20% Off using Coupon Code and get Extra 10% Off Sitewide</div>
    </div>
    <div class="right-block-wrapper">
      <div class="success-rate">Success rate 57%</div>
      <button class="btn gl-main-btm" [class.disabled-coupon]="disabledCoupon">Get code</button>
    </div>
  </div>
</div>
