@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.coupon-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $grey-background-block;
  border-radius: 6px;
  height: 80px;
  overflow: hidden;

  &.popular-coupon {
    background-color: $yellow-color;
  }

  &.disabled-coupon {
    background-color: $grey-background-block;
  }

  @include for-sm-down {
    padding: 4px 12px 12px 12px;
    height: auto;
    flex-direction: column;
  }
}

.sticker-wrapper {
  flex: 0 0 auto;
}

.sticker-image {
  background-image: url('/assets/icon/coupon/sticker-full.svg');
  display: flex;
  align-items: center;
  height: 100%;
  width: 169px;
  padding-left: 16px;

  &.popular-coupon {
    background-image: url('/assets/icon/coupon/sticker-full-popular.svg');
  }

  &.disabled-coupon {
    background-image: url('/assets/icon/coupon/sticker-full-disables.svg');
  }

  @include for-sm-down {
    background-image: url('/assets/icon/coupon/sticker-small.svg.svg');
    width: 72px;
    height: 72px;
    justify-content: center;
    padding-left: 0;

    &.popular-coupon {
      background-image: url('/assets/icon/coupon/sticker-small-popular.svg');
    }

    &.disabled-coupon {
      background-image: url('/assets/icon/coupon/sticker-small-disables.svg');
    }
  }
}

.sticker-text {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.075em;
  color: $pink-color;

  &.popular-coupon {
    color: #FFFFFF;
  }

  &.disabled-coupon {
    color: #FFFFFF;
  }

  @include for-sm-down {
    font-size: 26px;
    line-height: 20px;
    letter-spacing: -0.05em;
  }
}

.coupon-content-wrapper {
  padding: 8px 20px 12px 0;
  flex: 1 1 auto;
  display: flex;

  @include for-sm-down {
    flex-direction: column;
    padding: 0;
  }
}

.left-block-wrapper {
  margin-right: 30px;

  @include for-sm-down {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.success-rate, .btn {
  white-space: nowrap;
}

.coupon-comment-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  opacity: .5;
  margin-bottom: 2px;
}

.coupon-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.02em;
  max-height: 40px;
  overflow: hidden;

  &.disabled-coupon {
    opacity: 0.3;
  }
}

.right-block-wrapper {
  display: flex;
  align-items: center;
}

.success-rate {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
  margin-right: 32px;

  @include for-sm-down {
    margin-right: 0;
    margin-left: 14px;
    order: 2;
  }
}
