<div class="side-nav-info-company-wrapper">
  <div class="section-block">
    <img class="logo-company"
         src="https://rere-design.ru/image/_1000/8ec8d1.jpg"
         alt="logo-company ">
    <div class="subtitle-wrapper">
      <h2 class="subtitle-text">Bestbuy</h2>
      <a href="" class="subtitle-image-wrapper">
        <div class="subtitle-image"></div>
      </a>
    </div>
    <div class="categories-wrapper">
      <a class="category">vaping</a>
      <a class="category">accessories</a>
      <a class="category">smoking</a>
    </div>
  </div>

  <div class="section-block">
    <div class="text">
      You'll feel like a deal diva (or divo) when you use Walmart coupon codes to stock up on everything from
      groceries to TVs. Shop furniture for the home; the latest toys for kids; and apparel for men, women, and baby,
      plus...
      <span class="show-all gl-pink-link">Show all</span>
    </div>
    <div class="text gl-lg-hide">
      <div class="caption">About Bestbuy’s coupons</div>
      Don't miss your chance to use one of <span class="gl-bold-font">30</span> active <span class="gl-bold-font">Bestbuy</span>
      coupons. Last time a new coupon code was added on <span class="gl-bold-font">July 22, 2020</span>
      . Save <span class="gl-bold-font">up to 25% Off</span>/$1000 Off with Bestbuy’s best discount code. Average
      saving of using Bestbuy coupon
      codes - <span class="gl-bold-font">$23</span>. You can also find promo codes that offer <span
      class="gl-bold-font">15% Off , $900 Off,</span> Free Shipping, and extra discount.
      Make your best deal with
      <a href="" class="link-website gl-pink-link">Deala.com</a>
    </div>
  </div>

  <div class="section-block">
    <div class="statistics-wrapper">
      <div class="statistic-item">
        <div class="gl-gray-color">Offers available</div>
        <div class="gl-bold-font">282929</div>
      </div>
      <div class="statistic-item">
        <div class="gl-gray-color">Last updated</div>
        <div class="gl-bold-font">23.10.2020</div>
      </div>
      <div class="statistic-item">
        <div class="gl-gray-color">Best offer</div>
        <div class="gl-bold-font">90%</div>
      </div>
      <div class="statistic-item">
        <div class="gl-gray-color">Average saving</div>
        <div class="gl-bold-font">23$</div>
      </div>
      <div class="statistic-item">
        <div class="gl-gray-color">Success rate</div>
        <div class="gl-bold-font">86%</div>
      </div>
    </div>
  </div>
</div>
