@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.side-nav-info-company-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  padding: 16px;
  background-color: $grey-background-block;
  border-radius: 8px;

  @include for-md-down {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}

.logo-company {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.link-company {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.subtitle-text {
  margin-bottom: 0;
  margin-right: 10px;
}

.subtitle-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  &:hover {
    .subtitle-image {
      background-image: url('/assets/icon/side-nav/arrow-hover.svg');
    }
  }
}

.subtitle-image {
  display: inline-block;
  background-image: url('/assets/icon/side-nav/arrow.svg');
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
}

.categories-wrapper {
  margin: -1px;
}

.category {
  display: inline-block;
  background-color: $yellow-color;
  border-radius: 33px;
  font-size: 12px;
  line-height: 15px;
  padding: 4px 10px;
  margin: 1px;

  &:hover {
    background-color: $purple-color;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 300ms, color 300ms;
  }
}

.caption {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @include for-lg-down {
    margin-bottom: 0;
  }
}

.show-all {
  &:hover {
    cursor: pointer;
  }
}

.statistic-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @include for-lg-down {
    grid-template-columns: 4fr 3fr;
  }
}
