<div class="gl-layout">
  <div class="gl-layout-header">
    <app-header></app-header>
  </div>
  <div class="gl-layout-content">
    <button class="gl-back-arrow-btn gl-lg-hide"></button>
    <div class="gl-page-content">
      <div class="page-wrapper">
        <button class="gl-back-arrow-btn gl-lg-show"></button>

        <div class="grid-wrapper">

          <!-- боковая панель -->
          <div class="side-nav-wrapper">
            <div class="side-nav-item">
              <app-side-nav-info-company></app-side-nav-info-company>
            </div>
            <div class="side-nav-item gl-xs-hide">
              <app-side-nav-stores></app-side-nav-stores>
            </div>
            <div class="side-nav-item gl-xs-hide">
              <app-side-nav-recommendations></app-side-nav-recommendations>
            </div>
          </div>

          <!-- заголовок -->
          <h1 class="title">Bestbuy coupons</h1>

          <!-- купоны верхние (розовые)-->
          <div class="coupons-top-wrapper">
            <div class="coupons">
              <app-coupon [isPopularCoupon]="true"></app-coupon>
              <app-coupon [isPopularCoupon]="true"></app-coupon>
              <app-coupon [isPopularCoupon]="true"></app-coupon>
              <app-coupon [isPopularCoupon]="true"  [disabledCoupon]="true"></app-coupon>
            </div>
          </div>

          <!-- купоны нижние (серые)-->
          <div class="coupons-bottom-wrapper">
            <div class="coupons">
              <app-coupon></app-coupon>
              <app-coupon></app-coupon>
              <app-coupon></app-coupon>
              <app-coupon></app-coupon>
              <app-coupon></app-coupon>
              <app-coupon></app-coupon>
              <app-coupon [disabledCoupon]="true"></app-coupon>
            </div>
            <button class="gl-main-btm mod-pink">Show more 23 coupons</button>
          </div>

          <!-- FAQ -->
          <app-faq></app-faq>

          <!-- боковая панель 2,3 блоки (small show) -->
          <div class="store-and-recommendations-wrapper gl-xs-show">
            <div class="side-nav-item side-nav-stores-wrapper">
              <app-side-nav-stores></app-side-nav-stores>
            </div>
            <div class="side-nav-item side-nav-recommendations-wrapper">
              <app-side-nav-recommendations></app-side-nav-recommendations>
            </div>
          </div>

          <!-- 1 блок -->
          <app-related-categories></app-related-categories>

          <!-- 2 блок -->
          <app-similar-stores></app-similar-stores>
        </div>
      </div>
    </div>
  </div>
  <div class="gl-layout-footer">
    <app-footer></app-footer>
  </div>
</div>
