@import 'src/app/common/styles/sizes';

.page-wrapper {
  padding: 20px 0 40px 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-column-gap: 20px;

  @include for-lg-down {
    grid-template-columns: 221px 1fr;
  }

  @include for-md-down {
    grid-template-columns: 1fr;
  }
}

.side-nav-wrapper {
  grid-row-start: 1;
  grid-row-end: 7;

  @include for-md-down {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 20px;
  }
}

.side-nav-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: 20px ;
}

.coupons-top-wrapper {
  margin-bottom: 20px;

  @include for-sm-down {
    margin-bottom: 10px;
  }
}

.coupons-bottom-wrapper {
  margin-bottom: 40px;

  @include for-sm-down {
    margin-bottom: 20px;
  }
}

.coupons {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

app-coupon {
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

app-faq {
  display: block;
  margin-bottom: 40px;

  @include for-sm-down {
    margin-bottom: 10px;
  }
}

app-related-categories {
  display: block;
  margin-bottom: 40px;
}

app-similar-stores {
  display: block;
}

.store-and-recommendations-wrapper {
  @include for-xs-down {
    grid-row-start: 6;
    grid-row-end: 7;
    margin-bottom: 20px;
  }
}
