<div class="faq-wrapper">
  <h2 class="subtitle">Best Buy FAQ and Shopping Hacks</h2>
  <div class="faq-item-wrapper">
    <img class="item-image" src="assets/icon/faq/discount.svg" alt="discount">
    <div class="item-text-wrapper">
      <div class="item-text gl-bold-font">
        Where can I find official Harry & David deals?
      </div>
      <div class="item-text">
        Check out their sale section to find all products currently selling at reduced price!
      </div>
    </div>
  </div>
  <div class="faq-item-wrapper">
    <img class="item-image" src="assets/icon/faq/exstra.svg" alt="discount">
    <div class="item-text-wrapper">
      <div class="item-text gl-bold-font">
        Where can I find official Harry & David deals?
      </div>
      <div class="item-text">
        Enjoy Free Shipping No Order Minimums, Auto-Apply Coupons, and Exclusive Perks for 1 Year with Celebrations Passport for $29.99!
      </div>
    </div>
  </div>
  <div class="faq-item-wrapper">
    <img class="item-image" src="assets/icon/faq/free-shipping.svg" alt="discount">
    <div class="item-text-wrapper">
      <div class="item-text gl-bold-font">
        Where can I find official Harry & David deals?
      </div>
      <div class="item-text">
        To get the best deal possible, look at their coupon page.
      </div>
    </div>
  </div>
</div>
