@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.faq-wrapper {
  width: 100%;
  padding: 24px;
  background-color: $grey-background-block;
  border-radius: 8px;

  @include for-sm-down {
    padding: 16px 16px 9px;
  }
}

.subtitle {
  margin-bottom: 10px;

  @include for-sm-down {
    margin-bottom: 40px;
  }
}

.faq-item-wrapper {
  display: flex;
  align-items: center;

  @include for-sm-down {
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item-image {
  height: 88px;
  margin-right: 20px;

  @include for-sm-down {
    margin-bottom: 10px;
  }
}

.item-text {
  font-size: 14px;
  line-height: 24px;
}
