@import 'src/app/common/styles/sizes';
@import 'src/app/common/styles/colors';

.side-nav-recommendations-wrapper {
  padding: 16px;
  background-color: $grey-background-block;
  border-radius: 8px;
}

.caption {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 8px;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include for-md-down {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
  }
}

.items-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
