<div class="side-nav-recommendations-wrapper">
  <div class="caption">People also like</div>
  <ul class="list-wrapper">
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Raggs 2 Riches Boutique coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Blush Boutique NJ coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Peeks And Pleats coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Classica Imports coupons </a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Lipsticknick coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Southern Charm Clothing coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Agape Diamonds coupons</a>
    </li>
    <li class="items-wrapper">
      <a href="" class="item gl-pink-link">Fashion Masks Pro coupons</a>
    </li>
  </ul>
</div>
