<button class="search-btn-wrapper">
  <span class="search-text gl-sm-hide" [class.mod-footer]="thisFooter">Search stores</span>
  <span class="search-img" [class.mod-footer]="thisFooter"></span>
</button>
