@import 'src/app/common/styles/sizes';

.search-btn-wrapper {
  display: flex;
  align-items: center;
}

.search-text {
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);

  &.mod-footer {
    color: rgba(0, 0, 0, 0.4);
  }
}

.search-img {
  background-image: url('/assets/icon/global/search-white.svg');
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;

  @include for-sm-down {
    height: 25px;
  }

  &.mod-footer {
    background-image: url('/assets/icon/global/search-black.svg');
  }
}
