@font-face {
  font-family: 'Faktum Test';
  src: url('./faktum-test-regular.woff');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}


@font-face {
  font-family: 'Faktum Test';
  src: url('./faktum-test-bold.woff');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}
